In [1]:
# Load in necessary packages

import pandas as pd

In [2]:
# Read in the data from the .csv file

# This dataset covers US Police Shootings from 2015-2024. More information can be found at 
# https://www.kaggle.com/datasets/aquibahmad7/police-shootings-in-the-united-states-2015-2024?resource=download

data = pd.read_csv('C:/Users/bourb/OneDrive/Datasets/2024-07-23-washington-post-police-shootings-export.csv')

In [3]:
# Inspect the data to confirm successful load

data.head(3)

,date,name,age,gender,armed,race,city,state,flee,body_camera,signs_of_mental_illness,police_departments_involved
0,2015-01-02,Lewis Lee Lembke,47.0,male,gun,White,Aloha,OR,not,False,False,"Washington County Sheriff's Office, OR"
1,2015-01-02,Tim Elliot,53.0,male,gun,Asian,Shelton,WA,not,False,True,"Mason County Sheriff's Office, WA"
2,2015-01-03,John Paul Quintero,23.0,male,unarmed,Hispanic,Wichita,KS,not,False,False,"Wichita Police Department, KS"

In [4]:
data.columns

Index(['date', 'name', 'age', 'gender', 'armed', 'race', 'city', 'state',
       'flee', 'body_camera', 'signs_of_mental_illness',
       'police_departments_involved'],
      dtype='object')

In [5]:
data['date'] = pd.to_datetime(data['date'])

data[data['date'] < '2024-01-01']

,date,name,age,gender,armed,race,city,state,flee,body_camera,signs_of_mental_illness,police_departments_involved
0,2015-01-02,Lewis Lee Lembke,47.0,male,gun,White,Aloha,OR,not,False,False,"Washington County Sheriff's Office, OR"
1,2015-01-02,Tim Elliot,53.0,male,gun,Asian,Shelton,WA,not,False,True,"Mason County Sheriff's Office, WA"
2,2015-01-03,John Paul Quintero,23.0,male,unarmed,Hispanic,Wichita,KS,not,False,False,"Wichita Police Department, KS"
3,2015-01-04,Kenneth Joe Brown,18.0,male,gun,White,Guthrie,OK,not,False,False,"Oklahoma Highway Patrol, OK"
4,2015-01-04,Michael Rodriguez,39.0,male,other,Hispanic,Evans,CO,not,False,False,"Evans Police Department, CO"
...,...,...,...,...,...,...,...,...,...,...,...,...
9247,2023-12-29,Paul N. Coderre Jr.,55.0,male,gun,White,Fairhaven,MA,NaN,False,False,"Fairhaven Police Department, MA"
9248,2023-12-29,Bashe McDaniel,52.0,male,gun,Unknown,New York,NY,not,True,False,New York Metropolitan Transportation Authority...
9249,2023-12-31,Steven Clark Jr.,41.0,male,gun,White,Ocala,FL,not,False,True,"Marion County Sheriff's Office, FL"
9250,2023-12-31,Javier Flores,39.0,male,gun,Hispanic,Las Vegas,NV,not,True,False,"North Las Vegas Police Department, NV"
9251,2023-12-31,Talmadge Bryant,NaN,male,gun,Unknown,Cottondale,FL,not,False,False,"Jackson County Sheriff's Department, FL"

In [6]:
# Title case all column names

data.columns = data.columns.str.title()

In [7]:
# Title case the below columns

data['Gender'] = data['Gender'].str.title()

data['Armed'] = data['Armed'].str.title()

data['Flee'] = data['Flee'].str.title()

In [8]:
# Check datatypes, row count, and # of non-null values in each column

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         9893 non-null   datetime64[ns]
 1   Name                         9556 non-null   object
 2   Age                          9509 non-null   float64
 3   Gender                       9865 non-null   object
 4   Armed                        9682 non-null   object
 5   Race                         9893 non-null   object
 6   City                         9821 non-null   object
 7   State                        9893 non-null   object
 8   Flee                         8548 non-null   object
 9   Body_Camera                  9893 non-null   bool
 10  Signs_Of_Mental_Illness      9893 non-null   bool
 11  Police_Departments_Involved  9892 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(1), object(8)
memory usage: 792.3+ KB

In [9]:
# Inspect the rows with a null value in the name column 

data[data['Name'].isna()]

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved
930,2015-12-10,NaN,NaN,Male,Gun,Unknown,Hemet,CA,Not,False,False,"Hemet Police Department, CA"
1419,2016-06-09,NaN,NaN,Male,Blunt_Object,Unknown,Somerton,AZ,Not,False,False,"U.S. Border Patrol, AZ"
1646,2016-09-01,NaN,NaN,Male,Blunt_Object,Hispanic,Huntington Park,CA,Not,False,False,"Huntington Park Police Department, CA"
1921,2016-12-20,NaN,NaN,Male,Knife,Unknown,Brawley,CA,Not,False,True,"Brawley Police Department, CA"
2075,2017-02-09,NaN,NaN,Male,Undetermined,Unknown,Crownpoint,NM,NaN,False,False,"Navajo Nation Police Department, NM"
...,...,...,...,...,...,...,...,...,...,...,...,...
9872,2024-07-10,NaN,20.0,Male,Knife,Unknown,Muskegon,MI,Foot,False,False,"Muskegon Police Department, MI"
9875,2024-07-10,NaN,NaN,Male,Gun,Unknown,Bedford,TX,NaN,False,False,"Bedford Police Department, TX;Hurst Police Dep..."
9883,2024-07-12,NaN,NaN,NaN,"Vehicle,Gun",Unknown,Midlothian,TX,Car,False,False,"Dalworthington Gardens Police Department, TX;M..."
9886,2024-07-13,NaN,NaN,Male,Gun,Unknown,Los Angeles,CA,Not,False,False,"Los Angeles Police Department, CA"
9889,2024-07-15,NaN,NaN,Male,Undetermined,Unknown,Graham,WA,Other,False,False,"Pierce County Sheriff's Department, WA"

In [10]:
# Fill the nulls in the name column with the value 'Unknown'

data['Name'] = data['Name'].fillna('Unknown')

In [11]:
# Inspect the values that are now 'Unknown'...this is done mostly to confirm the row count matches that of the above DataFrame
# where these values were previously null. It is 337 in both dfs so it stands to reason that all nulls were replaced

data[data['Name'] == 'Unknown']

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved
930,2015-12-10,Unknown,NaN,Male,Gun,Unknown,Hemet,CA,Not,False,False,"Hemet Police Department, CA"
1419,2016-06-09,Unknown,NaN,Male,Blunt_Object,Unknown,Somerton,AZ,Not,False,False,"U.S. Border Patrol, AZ"
1646,2016-09-01,Unknown,NaN,Male,Blunt_Object,Hispanic,Huntington Park,CA,Not,False,False,"Huntington Park Police Department, CA"
1921,2016-12-20,Unknown,NaN,Male,Knife,Unknown,Brawley,CA,Not,False,True,"Brawley Police Department, CA"
2075,2017-02-09,Unknown,NaN,Male,Undetermined,Unknown,Crownpoint,NM,NaN,False,False,"Navajo Nation Police Department, NM"
...,...,...,...,...,...,...,...,...,...,...,...,...
9872,2024-07-10,Unknown,20.0,Male,Knife,Unknown,Muskegon,MI,Foot,False,False,"Muskegon Police Department, MI"
9875,2024-07-10,Unknown,NaN,Male,Gun,Unknown,Bedford,TX,NaN,False,False,"Bedford Police Department, TX;Hurst Police Dep..."
9883,2024-07-12,Unknown,NaN,NaN,"Vehicle,Gun",Unknown,Midlothian,TX,Car,False,False,"Dalworthington Gardens Police Department, TX;M..."
9886,2024-07-13,Unknown,NaN,Male,Gun,Unknown,Los Angeles,CA,Not,False,False,"Los Angeles Police Department, CA"
9889,2024-07-15,Unknown,NaN,Male,Undetermined,Unknown,Graham,WA,Other,False,False,"Pierce County Sheriff's Department, WA"

In [12]:
# Again check '.info()' to confirm the name column now has no null values

data.info()

# I will skip the age column for now because of it's datatype. Filling with a string value is not appropriate, so I'll have to
# deal with null values there differently

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         9893 non-null   datetime64[ns]
 1   Name                         9893 non-null   object
 2   Age                          9509 non-null   float64
 3   Gender                       9865 non-null   object
 4   Armed                        9682 non-null   object
 5   Race                         9893 non-null   object
 6   City                         9821 non-null   object
 7   State                        9893 non-null   object
 8   Flee                         8548 non-null   object
 9   Body_Camera                  9893 non-null   bool
 10  Signs_Of_Mental_Illness      9893 non-null   bool
 11  Police_Departments_Involved  9892 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(1), object(8)
memory usage: 792.3+ KB

In [13]:
# Display a slice of the DataFrame where all Age values are NULL

data[data['Age'].isna()]

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved
124,2015-02-20,Alejandro Salazar,NaN,Male,Gun,Hispanic,Houston,TX,Car,False,False,"U.S. Marshals Service, TX"
930,2015-12-10,Unknown,NaN,Male,Gun,Unknown,Hemet,CA,Not,False,False,"Hemet Police Department, CA"
968,2015-12-21,Michael Noel,NaN,Male,Unarmed,Black,Breaux Bridge,LA,Not,False,True,"St. Martin Parish Sheriff's Department, LA"
1338,2016-05-06,Ronald D. Williams Jr.,NaN,Male,Gun,Black,Weirton,WV,Not,False,True,"Weirton Police Department, WV"
1350,2016-05-11,Steve Godfrey,NaN,Male,Gun,White,Byng,OK,Car,False,True,"Pontotoc County Sheriff's Office, OK"
...,...,...,...,...,...,...,...,...,...,...,...,...
9860,2024-07-04,Unknown,NaN,Male,Undetermined,Unknown,Riverton,UT,NaN,False,False,"Riverton Police Department, UT"
9875,2024-07-10,Unknown,NaN,Male,Gun,Unknown,Bedford,TX,NaN,False,False,"Bedford Police Department, TX;Hurst Police Dep..."
9883,2024-07-12,Unknown,NaN,NaN,"Vehicle,Gun",Unknown,Midlothian,TX,Car,False,False,"Dalworthington Gardens Police Department, TX;M..."
9886,2024-07-13,Unknown,NaN,Male,Gun,Unknown,Los Angeles,CA,Not,False,False,"Los Angeles Police Department, CA"
9889,2024-07-15,Unknown,NaN,Male,Undetermined,Unknown,Graham,WA,Other,False,False,"Pierce County Sheriff's Department, WA"

In [14]:
# I've decided to also replace gender column nulls with 'unknown' however this time with a lowercase u to match the all lower
# case convention already established in the populated values in the column

data['Gender'] = data['Gender'].fillna('Unknown')

In [15]:
# Confirm that all nulls in the gender column are handled 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         9893 non-null   datetime64[ns]
 1   Name                         9893 non-null   object
 2   Age                          9509 non-null   float64
 3   Gender                       9893 non-null   object
 4   Armed                        9682 non-null   object
 5   Race                         9893 non-null   object
 6   City                         9821 non-null   object
 7   State                        9893 non-null   object
 8   Flee                         8548 non-null   object
 9   Body_Camera                  9893 non-null   bool
 10  Signs_Of_Mental_Illness      9893 non-null   bool
 11  Police_Departments_Involved  9892 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(1), object(8)
memory usage: 792.3+ KB

In [16]:
# Inspect all unique values in the armed column to decide how to deal with nulls

data['Armed'].unique()

array(['Gun', 'Unarmed', 'Other', 'Replica', 'Knife', 'Blunt_Object', nan,
       'Vehicle', 'Undetermined', 'Other,Gun', 'Unknown',
       'Blunt_Object,Blunt_Object', 'Gun,Knife', 'Knife,Blunt_Object',
       'Vehicle,Gun', 'Gun,Vehicle', 'Replica,Vehicle',
       'Blunt_Object,Knife', 'Knife,Vehicle', 'Vehicle,Knife,Other',
       'Knife,Knife', 'Replica,Knife', 'Other,Blunt_Object,Knife',
       'Other,Knife', 'Vehicle,Knife', 'Gun,Other', 'Blunt_Object,Other'],
      dtype=object)

In [17]:
# I've decided to fill the nulls with the value 'undetermined'

data['Armed'] = data['Armed'].fillna('Undetermined')

In [18]:
# I also want to coerce the value 'unknown' to 'undetermined' and not deal with two different values for one phenomenon

data['Armed'] = data['Armed'].replace({'Unknown': 'Undetermined'})

In [19]:
# Inspect to confirm both NaN and 'unknown' are no longer present

data['Armed'].unique()

array(['Gun', 'Unarmed', 'Other', 'Replica', 'Knife', 'Blunt_Object',
       'Undetermined', 'Vehicle', 'Other,Gun',
       'Blunt_Object,Blunt_Object', 'Gun,Knife', 'Knife,Blunt_Object',
       'Vehicle,Gun', 'Gun,Vehicle', 'Replica,Vehicle',
       'Blunt_Object,Knife', 'Knife,Vehicle', 'Vehicle,Knife,Other',
       'Knife,Knife', 'Replica,Knife', 'Other,Blunt_Object,Knife',
       'Other,Knife', 'Vehicle,Knife', 'Gun,Other', 'Blunt_Object,Other'],
      dtype=object)

In [20]:
# Iterate through the values in the armed column looking for values with a ','. If ',' is found then replace the value with
# 'multiple weapons'

for value in data['Armed']:
    if ',' in value:
        data ['Armed'] = data['Armed'].replace(value, 'Multiple Weapons')

In [21]:
# Confirm this cleanup with successful

data['Armed'].unique()

array(['Gun', 'Unarmed', 'Other', 'Replica', 'Knife', 'Blunt_Object',
       'Undetermined', 'Vehicle', 'Multiple Weapons'], dtype=object)

In [22]:
# Count the values in the armed column to assess the impact of creating the multiple weapons column. Since this substition
# represents < 1.5%  of values I find this to be an acceptable strategy. Though for the purposes of my testing I am accepting
# 'race' as the column name, if I were to present this data I would coerce this column name to something like 'count.'

count_by_armed = data[['Armed', 'Race']].groupby('Armed').count().sort_values(by='Race', ascending=False)

count_by_armed = pd.DataFrame(count_by_armed)

count_by_armed.columns = ['Count']

count_by_armed

                  Count
Armed
Gun                5748
Knife              1683
Undetermined        780
Unarmed             551
Vehicle             351
Replica             314
Blunt_Object        239
Multiple Weapons    129
Other                98

In [23]:
# Inspect to confirm all null values in the 'armed' column have been handled

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         9893 non-null   datetime64[ns]
 1   Name                         9893 non-null   object
 2   Age                          9509 non-null   float64
 3   Gender                       9893 non-null   object
 4   Armed                        9893 non-null   object
 5   Race                         9893 non-null   object
 6   City                         9821 non-null   object
 7   State                        9893 non-null   object
 8   Flee                         8548 non-null   object
 9   Body_Camera                  9893 non-null   bool
 10  Signs_Of_Mental_Illness      9893 non-null   bool
 11  Police_Departments_Involved  9892 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(1), object(8)
memory usage: 792.3+ KB

In [24]:
# I have decided to fill null city names to the value 'Unknown' 

data['City'] = data['City'].fillna('Unknown')

In [25]:
# Confirm these nulls have all been handled 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         9893 non-null   datetime64[ns]
 1   Name                         9893 non-null   object
 2   Age                          9509 non-null   float64
 3   Gender                       9893 non-null   object
 4   Armed                        9893 non-null   object
 5   Race                         9893 non-null   object
 6   City                         9893 non-null   object
 7   State                        9893 non-null   object
 8   Flee                         8548 non-null   object
 9   Body_Camera                  9893 non-null   bool
 10  Signs_Of_Mental_Illness      9893 non-null   bool
 11  Police_Departments_Involved  9892 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(1), object(8)
memory usage: 792.3+ KB

In [26]:
# Create a dictionary of state abbreviation to name mappings

state_names = {'AL':'Alabama', 'AK':'Alaska', 'AZ':'Arizona', 'AR':'Arkansas', 'CA':'California', 'CO':'Colorado', 
               'CT':'Connecticut', 'DE':'Delaware', 'FL':'Florida', 'GA':'Georgia', 'HA':'Hawaii', 'ID':'Idaho',
               'IL':'Illinois', 'IN':'Indiana', 'IA':'Iowa', 'KS':'Kansas', 'KY':'Kentucky', 'LA':'Louisiana',
               'ME':'Maine', 'MD':'Maryland', 'MA':'Massachusetts', 'MI':'Michigan', 'MN':'Minnesota', 'MS':'Mississippi',
               'MO':'Missouri', 'MT':'Montana', 'NE':'Nebraska', 'NV':'Nevada', 'NH':'New Hampshire', 'NJ':'New Jersey',
               'NM':'New Mexico', 'NY':'New York', 'NC':'North Carolina', 'ND':'North Dakota', 'OH':'Ohio', 'OK':'Oklahoma',
               'OR':'Oregon', 'PA':'Pennsylvania', 'RI':'Rhode Island', 'SC':'South Carolina', 'SD':'South Dakota',
               'TN':'Tennessee', 'TX':'Texas', 'UT':'Utah', 'VT':'Vermont', 'VA':'Virginia', 'WA':'Washington', 
               'WV':'West Virginia', 'WI':'Wisconsin', 'WY':'Wyoming'}

In [27]:
# Map the state abbreviations to their names. This is done so that we can join on this column later and it will 1:1 match
# the DataFrame we will be joining to

data['State'] = data['State'].map(state_names)

In [28]:
# Inspect unique values in the 'flee' column

data['Flee'].unique()

array(['Not', 'Car', 'Foot', 'Other', nan], dtype=object)

In [29]:
# I have decided to fill nulls with the value 'unknown'

data['Flee'] = data['Flee'].fillna('Unknown')

In [30]:
# Confirm that all nulls in the 'flee' column have been handled 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         9893 non-null   datetime64[ns]
 1   Name                         9893 non-null   object
 2   Age                          9509 non-null   float64
 3   Gender                       9893 non-null   object
 4   Armed                        9893 non-null   object
 5   Race                         9893 non-null   object
 6   City                         9893 non-null   object
 7   State                        9819 non-null   object
 8   Flee                         9893 non-null   object
 9   Body_Camera                  9893 non-null   bool
 10  Signs_Of_Mental_Illness      9893 non-null   bool
 11  Police_Departments_Involved  9892 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(1), object(8)
memory usage: 792.3+ KB

In [31]:
# Since there is only one null in the 'police_departments_involved' column I wanted to find and inspect it to assess the
# irregularity.

data[data['Police_Departments_Involved'].isna()]

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved
9770,2024-06-10,Ridge Ryen Rhodes,29.0,Male,Gun,White,Lewistown,Pennsylvania,Not,False,False,NaN

In [32]:
# Check to see if there is another row for this city (The state combination is also relevant here.) Since there is another
# record for Lewistown, PA I will coerce the unknown value to match this other record

data[data['City'] == 'Lewistown']

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved
2278,2017-04-26,Charles Bossinger,53.0,Male,Gun,White,Lewistown,Pennsylvania,Not,False,True,"Lewistown Borough Police Department, PA"
5139,2020-03-15,Douglas J. Foster,47.0,Male,Gun,White,Lewistown,Montana,Car,False,False,"Dillon Police Department, MT"
5781,2020-11-04,Justin Hammack,26.0,Male,Replica,White,Lewistown,Illinois,Unknown,False,True,"Fulton County Sheriff's Department, IL;Lewisto..."
9770,2024-06-10,Ridge Ryen Rhodes,29.0,Male,Gun,White,Lewistown,Pennsylvania,Not,False,False,NaN

In [33]:
# I decided to coerce to the department with the matching city, state combination.

data['Police_Departments_Involved'] = data['Police_Departments_Involved'].fillna('Lewistown Borough Police Department, PA')

In [34]:
# Confirm this worked as expected replacing the null value with the above identified department 

data[data['City'] == 'Lewistown']

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved
2278,2017-04-26,Charles Bossinger,53.0,Male,Gun,White,Lewistown,Pennsylvania,Not,False,True,"Lewistown Borough Police Department, PA"
5139,2020-03-15,Douglas J. Foster,47.0,Male,Gun,White,Lewistown,Montana,Car,False,False,"Dillon Police Department, MT"
5781,2020-11-04,Justin Hammack,26.0,Male,Replica,White,Lewistown,Illinois,Unknown,False,True,"Fulton County Sheriff's Department, IL;Lewisto..."
9770,2024-06-10,Ridge Ryen Rhodes,29.0,Male,Gun,White,Lewistown,Pennsylvania,Not,False,False,"Lewistown Borough Police Department, PA"

In [35]:
# At this point I just wanted to look at the top 10 departments with known shootings 

data[['Police_Departments_Involved', 'Race']].groupby('Police_Departments_Involved').count().sort_values(by='Race', ascending=False).head(10)

                                                Race
Police_Departments_Involved
Los Angeles Police Department, CA                139
Phoenix Police Department, AZ                    119
Los Angeles County Sheriff's Department, CA      110
Houston Police Department, TX                     77
San Antonio Police Department, TX                 77
New York Police Department, NY                    77
Las Vegas Metropolitan Police Department, NV      71
San Bernardino County Sheriff's Department, CA    55
Pennsylvania State Police, PA                     55
Riverside County Sheriff's Department, CA         52

In [36]:
# Inspect to assess our cleanup process 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         9893 non-null   datetime64[ns]
 1   Name                         9893 non-null   object
 2   Age                          9509 non-null   float64
 3   Gender                       9893 non-null   object
 4   Armed                        9893 non-null   object
 5   Race                         9893 non-null   object
 6   City                         9893 non-null   object
 7   State                        9819 non-null   object
 8   Flee                         9893 non-null   object
 9   Body_Camera                  9893 non-null   bool
 10  Signs_Of_Mental_Illness      9893 non-null   bool
 11  Police_Departments_Involved  9893 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(1), object(8)
memory usage: 792.3+ KB

In [37]:
# Inspect the unique values in the 'race' column 

data['Race'].unique()

array(['White', 'Asian', 'Hispanic', 'Black', 'Other', 'Unknown',
       'Native American', 'White,Black,Native American',
       'Native American,Hispanic', 'White,Hispanic', 'Black,Hispanic',
       'White,Black'], dtype=object)

In [38]:
# I've decided to coerce values with a comma to be represented as 'Multiple Races' as opposed to the more unsightly values
# that are inherent to the column 

for value in data['Race']:
    if ',' in value:
        data ['Race'] = data['Race'].replace(value, 'Multiple Races')

In [39]:
# Confirm that this worked as expected 

data['Race'].unique()

array(['White', 'Asian', 'Hispanic', 'Black', 'Other', 'Unknown',
       'Native American', 'Multiple Races'], dtype=object)

In [40]:
# Confirm that this boolean column only contains 'True' and 'False'

data['Body_Camera'].unique()

array([False,  True])

In [41]:
# Confirm that this boolean column only contains 'True' and 'False'

data['Signs_Of_Mental_Illness'].unique()

array([False,  True])

In [42]:
# The nulls in our age column present a bit of a different challenge. Since the datatype is currently 'float64' then unknown
# would be an inappropriate value. One option is to just drop these columns as incomplete data that could throw our analysis.
# Another is to coerce to a mean or median value. In this instance I've decided to just coerce them to 0. This is a risky choice
# and definitely should be footnoted in any visualizations or reports to keep from confusing stakeholders of the analysis. 

data['Age'] = data['Age'].fillna(0.0)

In [43]:
# I want to convert to integer from float to avoid unsightly decimal places as all decimals are .0 thus mathematically
# meaningless

data['Age'] = data['Age'].astype(int)

In [44]:
# I wanted to check the top 5 ages of the victims of police shootings, since the #1 value is our coerced 0 dropping this data
# could have a significant impact on the analysis. Thus we were right to make a complex decision to handle these rows in some
# way. 

data[['Age', 'Race']].groupby('Age').count().sort_values(by='Race', ascending=False).head(15)

     Race
Age
0     384
33    332
34    328
31    321
32    315
30    313
35    307
27    307
28    299
29    295
37    287
36    284
25    280
26    273
39    265

In [45]:
# Create a 'year' column pulling the year from the 'date' column

data['Year'] = pd.DatetimeIndex(data['Date']).year

In [46]:
# Create a 'month' column pulling the month from the 'date' column

data['Month'] = pd.DatetimeIndex(data['Date']).month_name()

In [47]:
# Check the month column to ensure all data is valid aka a number between 1 and 12

data['Month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [48]:
# Convert the Date column to a Datetime object for the purposes of determing a quarter in which each offense occurred

data['Date'] = pd.to_datetime(data['Date'])

data['Quarter'] = data['Date'].dt.quarter

In [49]:
# Create age bins so we can assess the age of shooting victims within an age range

data['Age_Bins'] = pd.cut(x=data['Age'], bins=[-1,1,18,29,40,50,65,80,100], labels=["'0'", "'1-18'", "'19-29'", "'30-40'", "'41-50'", "'51-65'", "'66-80'", "'81-100'"])

In [50]:
# Convert the Age_Bins column to strings. This was done to prevent a behavior when opening the resultant .csv in Excel where
# Excel believes 1-18 to be January 18th

data['Age_Bins'] = data['Age_Bins'].astype('str')

In [51]:
# Inspect the age bins for the purposes of data validation

data[['Age', 'Age_Bins']].groupby('Age_Bins').count()

           Age
Age_Bins
'0'        384
'1-18'     323
'19-29'   2583
'30-40'   3242
'41-50'   1790
'51-65'   1296
'66-80'    244
'81-100'    31

In [52]:
# Print column names 

data.columns

Index(['Date', 'Name', 'Age', 'Gender', 'Armed', 'Race', 'City', 'State',
       'Flee', 'Body_Camera', 'Signs_Of_Mental_Illness',
       'Police_Departments_Involved', 'Year', 'Month', 'Quarter', 'Age_Bins'],
      dtype='object')

In [53]:
# Rearrange the columns into a more logical order 

data = data[['Date', 'Month', 'Quarter', 'Year', 'Name', 'Age', 'Age_Bins', 'Gender', 'Armed', 'Race', 'City', 'State', 'Flee', 'Body_Camera', 
      'Signs_Of_Mental_Illness', 'Police_Departments_Involved']]

In [54]:
# Inspect the DataFrame to give it a good last look over

data.head(10)

,Date,Month,Quarter,Year,Name,Age,Age_Bins,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved
0,2015-01-02,January,1,2015,Lewis Lee Lembke,47,'41-50',Male,Gun,White,Aloha,Oregon,Not,False,False,"Washington County Sheriff's Office, OR"
1,2015-01-02,January,1,2015,Tim Elliot,53,'51-65',Male,Gun,Asian,Shelton,Washington,Not,False,True,"Mason County Sheriff's Office, WA"
2,2015-01-03,January,1,2015,John Paul Quintero,23,'19-29',Male,Unarmed,Hispanic,Wichita,Kansas,Not,False,False,"Wichita Police Department, KS"
3,2015-01-04,January,1,2015,Kenneth Joe Brown,18,'1-18',Male,Gun,White,Guthrie,Oklahoma,Not,False,False,"Oklahoma Highway Patrol, OK"
4,2015-01-04,January,1,2015,Michael Rodriguez,39,'30-40',Male,Other,Hispanic,Evans,Colorado,Not,False,False,"Evans Police Department, CO"
5,2015-01-04,January,1,2015,Matthew Hoffman,32,'30-40',Male,Replica,White,San Francisco,California,Not,False,True,"San Francisco Police Department, CA"
6,2015-01-05,January,1,2015,Kenneth Arnold Buck,22,'19-29',Male,Gun,Hispanic,Chandler,Arizona,Car,False,False,"Chandler Police Department, AZ"
7,2015-01-06,January,1,2015,Patrick Wetter,25,'19-29',Male,Knife,White,Stockton,California,Not,False,False,"Stockton Police Department, CA"
8,2015-01-06,January,1,2015,Leslie Sapp III,47,'41-50',Male,Replica,Black,Knoxville,Pennsylvania,Not,False,False,"U.S. Marshals Service, PA"
9,2015-01-06,January,1,2015,Autumn Steele,34,'30-40',Female,Unarmed,White,Burlington,Iowa,Not,True,False,"Burlington Police Department, IA"

In [55]:
# Read in 2020 US Census data for the purposes of adding a column to show the population of the city in which an offense occurred

pop = pd.read_csv('C:/Users/bourb/Data_Projects/US_Police_Shooting_2015-2024/US_Population_By_City_2020.csv')

pop

C:\Users\bourb\AppData\Local\Temp\ipykernel_30132\1421378384.py:3: DtypeWarning: Columns (3,4,7,8,9,10,11,14,16,17,18,19,22,23,24,25,26,27,28,35,37,38,39,48,49,51,53,54,56,59,63,64,65,66,69,70,71,73,75,76,78,79,80,82,85,88,89,90,91,92,93,95,96,97,99,100,101,103,104,105,106,107,111,114,115,116,117,118,119,122,123,124,126,129,130,131,132,135,136,139,142,143,144,149,150,152,156,157,160,162,163,167,169,171,173,175,177,179,180,183,184,185,186,187,189,190,191,194,198,200,205,208,209,213,216,217,218,223,224,225,226,227,228,230,231,233,234,237,240,241,243,245,246,247,248,250,252,253,255,256,257,259,265,270,271,272,273,275,276,277,281,282,284,286,287,288,293,294,295,297,298,300,301,303,308,311,312,313,314,315,317,318,321,322,325,326,328,334,338,340,341,342,344,348,349,350,352,353,355,357,358,359,360,361,362,363,365,368,369,370,372,373,376,377,387,388,389,391,392,397,402,403,404,406,407,408,411,412,413,418,419,426,429,430,434,436,438,440,443,444,445,448,449,450,453,454,459,460,461,465,467,468,469,473,475,479,480,483,484,485,486,488,489,490,491,494,501,502,503,504,506,508,510,513,516,517,519,520,521,524,525,526,527,529,530,531,532,534,535,537,538,539,542,543,544,545,546,547,548,550,553,554,556,557,559,560,561,562,564,570,573,574,577,578,580,582,586,587,589,591,594,599,608,609,619,620,623,626,630,631,637,654,657,660,662,667,669,670,681,686,690,692,693,695,702,703,708,711,717,726,728,730,738,742,748,750,758,761,762,767,776,789,794,795,815,821,824,825,834,839,849,861,866,873,882,888,889,893,894,898,899,904,905,907,909,918,931,933,934,938,944,948,951,962,963,966,967,970,971,972,974,976,978,979,981,983,984,991,993,995,996,1000,1002,1003,1005,1006,1007,1008,1009,1010,1012,1014,1015,1019,1020,1024,1026,1028,1030,1031,1033,1034,1037,1038,1040,1042,1043,1045,1054,1055,1056,1057,1058,1059,1060,1062,1067,1076,1077,1079,1080,1081,1083,1086,1087,1089,1090,1091,1093,1098,1100,1102,1103,1104,1105,1106,1107,1109,1113,1115,1122,1123,1125,1127,1134,1136,1138,1139,1142,1144,1145,1151,1154,1155,1156,1159,1161,1162,1166,1172,1173,1174,1175,1178,1180,1181,1183,1185,1189,1191,1194,1195,1196,1200,1201,1202,1204,1210,1212,1215,1217,1218,1220,1222,1223,1224,1226,1227,1228,1230,1231,1233,1236,1237,1239,1240,1243,1244,1245,1246,1248,1250,1253,1255,1256,1257,1267,1269,1270,1271,1272,1273,1275,1276,1277,1280,1281,1285,1288,1289,1292,1295,1299,1301,1302,1304,1307,1310,1311,1312,1314,1319,1320,1321,1323,1328,1329,1331,1333,1335,1338,1339,1341,1342,1344,1345,1348,1355,1356,1357,1358,1359,1360,1366,1368,1371,1373,1376,1377,1382,1387,1391,1392,1394,1398,1399,1400,1402,1403,1405,1413,1415,1419,1424,1436,1439,1440,1441,1443,1444,1445,1447,1449,1452,1454,1457,1461,1465,1466,1468,1469,1483,1488,1489,1495,1496,1497,1500,1502,1509,1513,1514,1519,1520,1521,1524,1527,1529,1534,1536,1537,1543,1545,1551,1556,1557,1559,1566,1567,1568,1571,1573,1577,1579,1582,1584,1589,1590,1591,1595,1598,1599,1603,1606,1607,1611,1614,1616,1617,1631,1634,1636,1641,1643,1644,1648,1649,1650,1651,1653,1660,1665,1666,1669,1670,1673,1678,1679,1681,1688,1691,1694,1696,1698,1699,1701,1702,1707,1713,1719,1721,1723,1726,1728,1737,1738,1741,1742,1743,1744,1746,1749,1754,1755,1756,1759,1763,1766,1768,1770,1778,1779,1781,1782,1783,1785,1786,1787,1788,1790,1791,1794,1796,1799,1801,1804,1806,1810,1814,1816,1823,1824,1825,1827,1831,1836,1837,1840,1853,1856,1861,1862,1870,1875,1876,1878,1880,1885,1891,1894,1895,1897,1905,1906,1912,1914,1922,1929,1930,1936,1938,1939,1941,1944,1945,1948,1950,1953,1954,1959,1964,1971,1976,1978,1980,1991,1995,2001,2002,2003,2004,2006,2013,2015,2016,2020,2037,2038,2039,2041,2043,2045,2046,2048,2049,2051,2052,2053,2054,2055,2058,2060,2062,2065,2067,2070,2072,2074,2075,2077,2078,2079,2080,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2101,2102,2104,2105,2106,2107,2108,2109,2110,2111,2112,2114,2115,2116,2118,2119,2120,2124,2125,2127,2128,2129,2130,2131,2135,2136,2139,2140,2141,2142,2143,2144,2145,2148,2149,2151,2152,2153,2154,2155,2156,2157,2159,2160,2163,2165,2166,2167,2168,2169,2170,2171,2174,2175,2177,2180,2181,2183,2184,2185,2186,2187,2189,2190,2191,2192,2193,2196,2199,2200,2201,2202,2204,2205,2206,2208,2209,2212,2213,2215,2216,2217,2218,2223,2224,2225,2226,2227,2228,2229,2232,2233,2234,2235,2236,2239,2240,2242,2243,2244,2245,2246,2247,2248,2250,2251,2252,2257,2258,2260,2261,2262,2264,2266,2268,2270,2271,2272,2273,2277,2279,2280,2281,2282,2284,2287,2291,2292,2293,2295,2296,2298,2301,2302,2303,2304,2306,2308,2309,2311,2312,2313,2314,2315,2316,2318,2319,2321,2322,2323,2327,2328,2330,2331,2332,2333,2339,2341,2342,2344,2345,2346,2347,2349,2350,2352,2353,2354,2355,2356,2357,2358,2359,2360,2361,2362,2363,2364,2365,2367,2369,2370,2373,2376,2377,2380,2384,2385,2386,2387,2388,2390,2392,2393,2394,2398,2399,2400,2401,2402,2405,2407,2408,2409,2410,2411,2412,2414,2416,2417,2418,2419,2420,2421,2422,2423,2424,2427,2428,2429,2430,2432,2433,2436,2439,2443,2444,2446,2447,2448,2452,2453,2454,2455,2456,2457,2459,2460,2461,2463,2464,2465,2466,2467,2468,2469,2471,2473,2474,2479,2481,2482,2484,2485,2486,2487,2489,2490,2492,2493,2494,2496,2499,2502,2503,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513,2514,2516,2517,2518,2519,2520,2521,2522,2524,2525,2526,2527,2529,2532,2533,2534,2538,2539,2541,2542,2545,2546,2547,2549,2550,2551,2552,2553,2555,2558,2560,2562,2563,2564,2565,2567,2568,2570,2571,2573,2574,2577,2579,2582,2584,2585,2587,2589,2592,2593,2595,2596,2597,2600,2602,2603,2604,2605,2608,2610,2612,2613,2615,2616,2617,2619,2620,2621,2622,2624,2625,2627,2629,2631,2633,2634,2635,2637,2638,2639,2641,2642,2644,2645,2647,2649,2650,2652,2653,2654,2655,2656,2657,2658,2659,2660,2662,2663,2665,2666,2667,2668,2669,2670,2671,2672,2673,2675,2676,2677,2678,2679,2680,2684,2688,2689,2690,2691,2692,2694,2697,2699,2700,2704,2705,2706,2708,2709,2710,2712,2714,2715,2716,2718,2719,2721,2722,2723,2729,2730,2732,2735,2739,2740,2741,2743,2744,2747,2748,2750,2751,2752,2753,2754,2757,2758,2760,2761,2762,2763,2764,2765,2766,2767,2769,2770,2771,2772,2773,2774,2775,2780,2781,2784,2785,2786,2789,2790,2791,2792,2793,2794,2796,2797,2798,2799,2800,2802,2803,2804,2805,2806,2807,2808,2810,2811,2813,2814,2815,2816,2817,2818,2819,2820,2822,2823,2824,2825,2827,2828,2829,2832,2834,2835,2836,2837,2838,2839,2840,2841,2842,2844,2845,2846,2848,2849,2854,2856,2857,2858,2859,2860,2863,2866,2868,2869,2870,2871,2872,2873,2875,2877,2878,2879,2880,2881,2882,2883,2885,2886,2887,2888,2889,2890,2891,2893,2894,2895,2896,2897,2905,2907,2909,2911,2912,2913,2916,2918,2919,2921,2923,2926,2927,2928,2929,2930,2933,2934,2935,2936,2937,2938,2939,2940,2941,2943,2944,2945,2946,2948,2949,2950,2951,2952,2959,2960,2962,2964,2966,2968,2971,2973,2974,2975,2977,2980,2984,2985,2987,2988,2989,2990,2991,2992,2993,2994,2996,2997,2999,3000,3001,3002,3003,3004,3005,3006,3008,3012,3016,3017,3018,3021,3023,3025,3026,3027,3029,3030,3031,3032,3033,3034,3035,3038,3040,3042,3046,3047,3049,3050,3051,3052,3053,3054,3056,3057,3058,3060,3061,3062,3063,3065,3066,3068,3069,3070,3071,3072,3075,3077,3078,3079,3080,3082,3083,3086,3089,3090,3092,3094,3095,3096,3097,3098,3100,3101,3102,3103,3104,3105,3106,3107,3108,3109,3111,3112,3113,3114,3115,3116,3117,3118,3121,3124,3125,3126,3127,3128,3129,3130,3131,3133,3134,3139,3140,3141,3142,3143,3145,3148,3151,3152,3153,3156,3158,3159,3160,3161,3162,3163,3164,3165,3166,3167,3168,3169,3170,3171,3173,3175,3176,3177,3179,3180,3183,3184,3186,3188,3189,3190,3191,3194,3195,3198,3202,3204,3205,3208,3210,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3221,3223,3224,3226,3227,3228,3229,3230,3231,3232,3233,3234,3235,3237,3238,3240,3242,3243,3244,3245,3247,3249,3250,3251,3252,3255,3258,3259,3261,3262,3264,3265,3266,3267,3268,3269,3270,3271,3272,3273,3274,3278,3279,3281,3284,3285,3286,3287,3288,3290,3294,3295,3296,3298,3299,3300,3301,3302,3304,3305,3306,3307,3308,3309,3310,3312,3313,3314,3315,3316,3317,3318,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348,3349,3350,3351,3353,3355,3356,3357,3358,3359,3360,3361,3362,3363,3367,3368,3369,3370,3372,3374,3375,3376,3380,3383,3387,3388,3390,3391,3396,3398,3399,3400,3401,3402,3403,3404,3405,3406,3407,3408,3409,3410,3411,3412,3413,3414,3415,3416,3417,3418,3423,3424,3426,3428,3429,3430,3431,3432,3436,3439,3440,3441,3445,3447,3448,3449,3451,3453,3454,3455,3456,3458,3459,3460,3461,3462,3464,3466,3468,3471,3473,3474,3475,3476,3477,3480,3481,3482,3483,3484,3485,3486,3487,3489,3491,3496,3498,3499,3500,3501,3510,3511,3513,3515,3516,3520,3521,3523,3524,3525,3526,3528,3529,3530,3531,3532,3534,3535,3537,3541,3543,3544,3545,3549,3550,3551,3553,3554,3555,3557,3558,3559,3564,3565,3566,3567,3568,3570,3572,3574,3578,3579,3580,3582,3584,3585,3586,3587,3589,3590,3591,3593,3594,3595,3596,3597,3598,3600,3601,3602,3604,3605,3606,3611,3612,3614,3616,3617,3618,3619,3621,3622,3623,3624,3626,3627,3628,3629,3630,3631,3632,3633,3634,3635,3636,3639,3644,3645,3648,3649,3650,3651,3652,3654,3655,3657,3658,3659,3660,3667,3670,3672,3673,3676,3677,3678,3681,3682,3683,3684,3685,3686,3689,3699,3703,3706,3709,3710,3711,3712,3713,3716,3719,3720,3721,3722,3723,3727,3728,3729,3733,3734,3736,3738,3739,3745,3746,3747,3748,3750,3754,3756,3758,3760,3764,3765,3767,3768,3769,3770,3771,3772,3776,3778,3780,3782,3784,3787,3788,3792,3793,3794,3797,3798,3799,3800,3801,3802,3804,3805,3808,3810,3811,3812,3814,3815,3816,3817,3818,3821,3822,3823,3824,3825,3830,3832,3834,3835,3837,3838,3839,3843,3844,3847,3849,3852,3853,3854,3860,3863,3867,3868,3873,3875,3880,3881,3887,3888,3889,3890,3891,3892,3897,3898,3899,3902,3906,3907,3908,3910,3911,3915,3916,3919,3920,3921,3922,3925,3926,3927,3928,3930,3932,3936,3937,3944,3945,3946,3947,3950,3951,3953,3955,3956,3961,3966,3967,3968,3971,3978,3982,3983,3984,3989,3990,3991,3993,3994,3996,3997,4000,4002,4006,4011,4013,4016,4017,4019,4023,4027,4028,4031,4034,4040,4046,4052,4053,4054,4056,4057,4058,4061,4065,4070,4072,4073,4074,4075,4076,4078,4079,4084,4088,4089,4090,4091,4092,4093,4096,4097,4102,4111,4115,4117,4120,4122,4123,4124,4127,4128,4130,4131,4133,4135,4136,4137,4138,4140,4141,4143,4147,4148,4150,4151,4154,4155,4162,4163,4164,4166,4167,4168,4169,4170,4171,4174,4175,4176,4177,4178,4179,4180,4182,4183,4185,4186,4187,4188,4189,4190,4191,4192,4195,4197,4198,4199,4200,4201,4202,4204,4205,4207,4208,4209,4212,4214,4218,4219,4221,4222,4223,4224,4225,4226,4227,4229,4230,4233,4234,4235,4236,4237,4238,4240,4241,4242,4243,4244,4245,4246,4247,4248,4249,4250,4251,4252,4254,4255,4256,4257,4258,4259,4260,4261,4262,4263,4264,4265,4266,4267,4268,4269,4270,4271,4272,4273,4274,4275,4277,4278,4279,4280,4282,4283,4285,4286,4287,4290,4292,4294,4295,4296,4297,4299,4301,4302,4303,4304,4305,4306,4307,4308,4309,4310,4311,4312,4313,4315,4316,4317,4319,4320,4322,4323,4324,4325,4327,4328,4329,4330,4331,4332,4333,4334,4335,4337,4338,4341,4342,4343,4344,4345,4346,4347,4349,4350,4354,4355,4358,4360,4361,4362,4363,4364,4365,4367,4368,4370,4371,4372,4374,4376,4379,4380,4381,4382,4384,4387,4388,4390,4392,4394,4397,4399,4400,4401,4402,4403,4404,4405,4407,4408,4410,4411,4413,4414,4415,4416,4417,4418,4419,4421,4423,4425,4426,4428,4429,4430,4432,4433,4435,4436,4439,4440,4443,4444,4445,4446,4447,4449,4450,4451,4452,4453,4454,4457,4458,4459,4460,4461,4462,4463,4464,4465,4466,4467,4469,4470,4472,4473,4475,4476,4477,4478,4480,4481,4482,4483,4485,4486,4487,4488,4489,4492,4493,4494,4495,4496,4497,4498,4499,4500,4501,4502,4503,4504,4505,4506,4507,4508,4510,4512,4514,4517,4518,4520,4521,4523,4524,4525,4526,4527,4528,4529,4530,4531,4532,4533,4534,4537,4538,4541,4542,4544,4545,4547,4549,4552,4553,4554,4555,4556,4557,4559,4560,4561,4563,4564,4565,4566,4567,4568,4569,4570,4573,4574,4575,4576,4578,4579,4580,4581,4582,4583,4584,4585,4587,4588,4589,4591,4592,4593,4594,4595,4596,4597,4598,4599,4600,4601,4602,4603,4604,4605,4606,4607,4609,4610,4611,4612,4613,4614,4615,4616,4617,4618,4620,4621,4624,4625,4626,4628,4629,4630,4631,4632,4633,4634,4635,4636,4637,4639,4641,4642,4643,4644,4645,4646,4647,4648,4649,4650,4652,4654,4655,4656,4657,4658,4660,4661,4664,4665,4666,4667,4668,4669,4670,4671,4672,4674,4675,4676,4679,4680,4681,4682,4683,4684,4685,4686,4687,4689,4690,4691,4692,4693,4694,4695,4696,4697,4698,4699,4703,4704,4705,4706,4707,4708,4711,4713,4714,4715,4717,4719,4720,4721,4722,4724,4725,4726,4727,4731,4732,4733,4734,4735,4736,4737,4740,4741,4743,4744,4745,4746,4748,4749,4750,4751,4752,4753,4754,4755,4756,4757,4758,4759,4760,4762,4763,4765,4766,4767,4769,4770,4771,4772,4773,4774,4775,4777,4779,4780,4781,4784,4785,4786,4787,4788,4789,4790,4791,4793,4795,4796,4797,4798,4799,4800,4801,4802,4803,4804,4805,4806,4807,4808,4810,4811,4812,4814,4815,4816,4819,4820,4821,4822,4823,4824,4827,4828,4829,4830,4831,4832,4833,4834,4836,4837,4838,4839,4840,4841,4842,4843,4845,4846,4847,4848,4850,4851,4852,4853,4854,4856,4857,4859,4860,4861,4863,4865,4866,4867,4869,4870,4871,4872,4873,4874,4875,4876,4877,4879,4880,4881,4882,4883,4884,4885,4890,4891,4893,4894,4895,4896,4897,4899,4900,4902,4904,4906,4907,4908,4909,4910,4911,4912,4913,4914,4915,4916,4918,4919,4920,4921,4922,4924,4925,4926,4927,4928,4929,4931,4932,4934,4935,4936,4937,4940,4941,4942,4943,4944,4945,4946,4948,4949,4951,4952,4953,4954,4955,4956,4958,4960,4961,4962,4963,4964,4965,4966,4967,4968,4969,4970,4971,4972,4973,4974,4977,4978,4980,4982,4983,4984,4985,4986,4987,4988,4989,4990,4991,4992,4993,4994,4995,4997,4998,5000,5001,5002,5003,5004,5005,5006,5007,5008,5009,5010,5011,5012,5013,5014,5015,5016,5017,5018,5019,5020,5021,5022,5024,5025,5026,5027,5028,5029,5031,5032,5033,5034,5035,5037,5038,5039,5040,5041,5043,5044,5045,5046,5047,5048,5050,5051,5053,5055,5056,5057,5058,5059,5060,5061,5062,5063,5064,5065,5066,5067,5068,5069,5070,5071,5072,5074,5075,5076,5077,5078,5079,5080,5082,5083,5084,5085,5086,5087,5089,5090,5091,5092,5093,5094,5096,5097,5099,5103,5104,5105,5106,5107,5110,5111,5113,5114,5115,5116,5117,5119,5121,5122,5123,5124,5125,5126,5127,5128,5129,5130,5131,5132,5133,5134,5135,5136,5138,5139,5140,5143,5144,5145,5146,5147,5148,5149,5151,5152,5153,5154,5155,5156,5158,5159,5160,5161,5162,5163,5164,5165,5166,5167,5168,5169,5171,5172,5175,5176,5177,5178,5179,5180,5181,5182,5183,5184,5185,5186,5187,5191,5192,5193,5194,5195,5197,5198,5200,5201,5202,5203,5204,5205,5206,5207,5211,5212,5213,5214,5215,5216,5217,5218,5219,5220,5221,5222,5223,5224,5225,5226,5227,5228,5229,5230,5231,5236,5237,5238,5239,5240,5242,5243,5244,5245,5246,5247,5248,5249,5250,5251,5252,5253,5254,5255,5256,5257,5258,5259,5260,5261,5262,5263,5264,5265,5266,5267,5268,5269,5270,5271,5272,5274,5275,5276,5277,5278,5280,5281,5283,5284,5285,5286,5287,5288,5289,5290,5291,5292,5293,5295,5296,5297,5298,5299,5300,5301,5302,5303,5304,5305,5306,5308,5310,5311,5312,5313,5314,5315,5316,5321,5323,5324,5326,5327,5328,5330,5331,5332,5333,5335,5336,5337,5338,5339,5340,5341,5342,5343,5344,5345,5346,5348,5349,5350,5351,5353,5355,5356,5357,5358,5359,5360,5361,5362,5365,5366,5367,5368,5369,5371,5372,5373,5375,5376,5379,5380,5381,5382,5383,5384,5385,5386,5387,5388,5389,5394,5398,5399,5403,5408,5409,5411,5413,5414,5415,5417,5418,5419,5422,5425,5426,5427,5428,5431,5433,5434,5435,5437,5441,5443,5444,5445,5448,5450,5451,5453,5458,5460,5464,5465,5467,5468,5470,5472,5473,5474,5476,5478,5479,5482,5483,5486,5490,5491,5492,5493,5496,5497,5499,5500,5501,5502,5506,5507,5508,5509,5510,5511,5512,5516,5521,5523,5524,5525,5526,5528,5529,5531,5532,5533,5534,5540,5541,5542,5543,5544,5546,5547,5551,5553,5554,5555,5557,5558,5560,5568,5570,5572,5573,5574,5575,5576,5578,5579,5581,5583,5585,5586,5587,5588,5589,5590,5592,5593,5594,5596,5597,5598,5600,5604,5606,5608,5610,5611,5613,5614,5615,5617,5618,5621,5622,5623,5624,5626,5627,5628,5630,5632,5633,5638,5639,5644,5648,5651,5652,5653,5654,5656,5657,5658,5660,5661,5663,5664,5665,5666,5667,5669,5670,5672,5673,5674,5676,5677,5678,5684,5685,5687,5688,5690,5691,5693,5698,5700,5702,5703,5704,5707,5708,5713,5714,5715,5718,5721,5722,5726,5727,5728,5729,5731,5732,5733,5734,5736,5740,5743,5744,5745,5746,5747,5748,5750,5751,5752,5753,5754,5759,5760,5761,5762,5764,5765,5766,5768,5771,5772,5774,5777,5783,5785,5787,5788,5792,5796,5797,5798,5799,5801,5803,5805,5807,5810,5811,5812,5813,5815,5816,5818,5822,5824,5825,5826,5829,5830,5835,5837,5844,5846,5847,5848,5852,5853,5854,5855,5856,5857,5859,5863,5869,5871,5872,5874,5876,5877,5879,5883,5884,5886,5887,5889,5894,5895,5897,5898,5899,5901,5902,5904,5907,5909,5910,5911,5912,5914,5915,5918,5919,5925,5927,5929,5932,5938,5942,5943,5944,5945,5946,5947,5948,5949,5951,5952,5953,5955,5957,5958,5959,5961,5964,5967,5968,5970,5971,5972,5975,5982,5983,5985,5986,5987,5988,5989,5992,5994,5995,5996,5999,6000,6001,6003,6004,6005,6006,6008,6009,6011,6013,6014,6015,6017,6019,6020,6023,6024,6027,6028,6031,6032,6034,6037,6040,6044,6046,6047,6048,6049,6052,6055,6056,6059,6060,6061,6062,6063,6064,6066,6067,6068,6069,6070,6071,6072,6073,6074,6075,6076,6078,6080,6081,6082,6083,6085,6086,6087,6088,6089,6090,6091,6092,6093,6094,6095,6096,6097,6099,6100,6102,6103,6104,6105,6106,6107,6108,6109,6110,6111,6112,6113,6116,6118,6119,6120,6121,6123,6125,6127,6128,6129,6130,6131,6132,6133,6134,6135,6137,6138,6139,6140,6141,6143,6144,6145,6146,6149,6150,6152,6153,6157,6158,6159,6160,6161,6162,6164,6165,6166,6167,6168,6170,6171,6173,6175,6177,6179,6180,6181,6182,6184,6185,6186,6187,6189,6190,6194,6197,6199,6200,6201,6202,6203,6205,6206,6207,6208,6209,6210,6211,6212,6213,6214,6215,6218,6219,6220,6221,6222,6223,6224,6227,6228,6235,6239,6241,6245,6246,6249,6250,6252,6255,6258,6262,6270,6279,6282,6287,6292,6294,6295,6296,6298,6300,6302,6303,6306,6310,6313,6316,6319,6320,6322,6327,6329,6332,6334,6335,6337,6338,6341,6343,6347,6349,6352,6355,6357,6360,6361,6364,6366,6367,6368,6369,6375,6378,6384,6385,6390,6391,6392,6395,6397,6398,6399,6400,6402,6403,6405,6407,6409,6414,6418,6419,6421,6422,6423,6424,6425,6429,6431,6433,6436,6437,6444,6445,6446,6447,6453,6454,6457,6461,6465,6468,6469,6471,6474,6480,6483,6484,6485,6489,6491,6494,6497,6500,6501,6506,6510,6512,6516,6518,6520,6521,6522,6524,6526,6531,6533,6534,6535,6538,6539,6541,6546,6547,6552,6558,6559,6562,6563,6564,6565,6566,6569,6570,6572,6573,6574,6578,6585,6586,6587,6588,6591,6596,6598,6599,6603,6604,6605,6606,6607,6608,6611,6614,6628,6630,6633,6634,6637,6639,6643,6645,6648,6649,6652,6653,6655,6656,6661,6662,6664,6665,6667,6668,6669,6671,6673,6675,6676,6677,6678,6679,6680,6681,6682,6683,6684,6685,6689,6690,6691,6692,6694,6696,6697,6699,6700,6701,6702,6704,6706,6707,6710,6711,6712,6713,6714,6715,6716,6721,6726,6727,6728,6730,6732,6734,6737,6738,6740,6751,6753,6754,6758,6761,6763,6764,6765,6767,6768,6769,6783,6784,6785,6788,6791,6793,6795,6796,6798,6799,6800,6801,6805,6807,6809,6810,6811,6818,6819,6823,6824,6825,6826,6827,6830,6831,6835,6836,6839,6841,6843,6844,6848,6849,6850,6851,6853,6855,6859,6866,6867,6868,6869,6873,6879,6881,6882,6884,6887,6888,6889,6890,6893,6896,6898,6905,6907,6909,6912,6914,6916,6917,6919,6920,6921,6923,6924,6925,6926,6927,6930,6932,6934,6935,6937,6939,6940,6942,6944,6947,6948,6949,6951,6952,6953,6955,6957,6958,6959,6961,6965,6966,6967,6968,6969,6970,6971,6981,6987,6988,6989,6991,6992,6993,6994,6995,6996,6997,7000,7002,7003,7005,7006,7009,7012,7013,7015,7017,7022,7024,7025,7028,7030,7031,7032,7033,7034,7035,7040,7041,7043,7044,7046,7047,7049,7050,7051,7052,7053,7055,7057,7059,7060,7062,7065,7067,7068,7069,7070,7071,7077,7082,7087,7089,7092,7093,7100,7101,7104,7108,7109,7111,7113,7114,7115,7121,7126,7136,7138,7141,7142,7146,7150,7152,7153,7155,7156,7158,7159,7160,7161,7162,7163,7165,7167,7168,7169,7171,7172,7174,7175,7176,7179,7181,7184,7188,7191,7193,7197,7198,7199,7203,7204,7205,7207,7208,7210,7211,7212,7213,7214,7216,7217,7224,7228,7230,7231,7232,7239,7240,7241,7247,7248,7253,7254,7255,7257,7259,7260,7261,7264,7267,7269,7270,7273,7274,7278,7281,7282,7284,7286,7287,7288,7289,7290,7292,7293,7295,7297,7298,7300,7305,7308,7311,7313,7315,7319,7320,7321,7324,7328,7331,7332,7333,7334,7336,7337,7338,7339,7340,7342,7343,7346,7347,7349,7350,7356,7357,7360,7361,7362,7363,7364,7

,Label (Grouping),United States,"Abanda CDP, Alabama","Abbeville city, Alabama","Adamsville city, Alabama","Addison town, Alabama","Akron town, Alabama","Alabaster city, Alabama","Albertville city, Alabama","Alexander City city, Alabama",...,"Villa Hugo II comunidad, Puerto Rico","Villalba zona urbana, Puerto Rico","Villa Quintero comunidad, Puerto Rico","Villas del Sol comunidad, Puerto Rico","Villa Sin Miedo comunidad, Puerto Rico","Voladoras comunidad, Puerto Rico","Yabucoa zona urbana, Puerto Rico","Yauco zona urbana, Puerto Rico","Yaurel comunidad, Puerto Rico","Yeguada comunidad, Puerto Rico"
0,Total:,"331,449,281",133,"2,358","4,366",659,225,"33,284","22,386","14,843",...,"1,355","3,215",342,145,117,670,"5,196","13,569",769,"1,418"
1,Population of one race:,"297,600,338",132,"2,275","4,221",643,220,"30,751","20,502","14,311",...,678,"1,663",225,76,64,290,"3,052","7,455",598,871
2,White alone,"204,277,273",95,"1,165","1,741",624,19,"22,323","13,830","8,724",...,98,618,37,6,8,136,924,"2,887",18,229
3,Black or African American alone,"41,104,200",34,"1,039","2,313",0,199,"5,356","1,095","4,911",...,253,232,79,26,17,8,458,558,112,42
4,American Indian and Alaska Native alone,"3,727,135",0,5,31,9,0,232,531,56,...,6,15,6,0,0,2,36,91,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,White; Black or African American; ...,"1,021",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
67,White; American Indian and Alaska ...,"1,309",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,Black or African American; America...,445,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69,Population of six races:,"2,505",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,White; Black or African American; ...,"2,505",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
# Transpose our population dataframe so that the cities will be rows

pop = pop.T

In [57]:
# This is done to coerce the values in row 1 (index 0) to become the new column labels, then to drop them from the 1st row. We
# Then write over our DataFrame keeping only the total population and removing the racial counts

pop.columns = pop.iloc[0]

pop.drop(pop.index[0])

pop.index = pop.index.str.title()

pop = pop['Total:']

In [58]:
# Create a DataFrame of our data grouped by City and State with a count of the number of police shooting within that city

grouped = pd.DataFrame(data[['Date', 'City', 'State']].groupby(['City', 'State']).count())

In [59]:
# Display the DataFrame as a sanity check

grouped

                           Date
City       State
Abbeville  Alabama            1
           Louisiana          1
           South Carolina     1
Aberdeen   North Carolina     1
           Washington         1
...                         ...
Yuma       Arizona            5
Zanesville Ohio               1
Zebulon    North Carolina     1
Zion       Illinois           3
Еasley     South Carolina     1

[4246 rows x 1 columns]

In [ ]:
# Create a new blank DataFrame which we will append rows when we find a match of city and state. We are using .startswith and 
# .endswith to allow for mismatches in between which were observed and deemed to be problematic

temp = pd.DataFrame()

for i, j in grouped.index:
    temp_pop = pop[pop.index.str.startswith(i) & pop.index.str.endswith(j)]
    temp = pd.concat([temp, temp_pop])

In [ ]:
# Remove common problematic values that were causing mismatches and resulting in misleadingly low outcomes after the join

temp.index = temp.index.str.replace(' City', '')

temp.index = temp.index.str.replace(' Cdp', '')

temp.index = temp.index.str.replace(' Town', '')

In [ ]:
# Title case the index of City/State combos to further aid the matching process

temp.index = temp.index.str.title()

In [ ]:
# Back to our original DataFrame we create a column of City/State combos to match our population data removing ' City' which has
# found to prevent a large number of matches

data['City_State'] = data['City'] + ', ' + data['State'].replace(' City', '')

In [ ]:
# Join our shooting and population DataFrames to create a column in the master showing the population. There is a match ~ 81%
# of the time. The rest of the time we will have Nan or NULL values in the population column

pop_data = pd.merge(data, temp, left_on='City_State', right_on=temp.index, how='left')

In [ ]:
# Rename the population column which had carried 'Total:' over from the population DataFrame for the purposes of human
# readability and interpretability when we will potentially use it for visualization

pop_data.rename(columns={'Total:':'Population'}, inplace=True)

In [ ]:
# Read this data out to a .csv file on our hard drive

pop_data.to_csv('c:/users/bourb/data_projects/US_Police_Shooting_2015-2024/cleaned_data.csv', index=False)

In [ ]:
# Create a grouped datasetconverted to a DataFrame showing the # of shootings by city, state, and population

pop_grouped = pd.DataFrame(pop_data[['City', 'State', 'Gender', 'Population']].groupby(['City', 'State', 'Population']).count())

In [ ]:
# Reset the index so that city, state and population can be treated as regular columns

pop_grouped.reset_index(inplace=True)

In [ ]:
# Rename the column that was counted to Number_of_Shootings

pop_grouped.columns = ['City', 'State', 'Population', 'Number_of_Shootings']

In [ ]:
# Rearrange the columns 

pop_grouped = pop_grouped.reindex(columns=['City', 'State', 'Number_of_Shootings', 'Population'])

In [ ]:
# Convert the population column to an integer datatype so we can calculate an annual per capita

pop_grouped['Population'] = pop_grouped['Population'].str.replace(',', '').astype('Int64')

In [ ]:
# Engineer the annual per capita column

pop_grouped['Annual_Shootings_per_100k'] = (pop_grouped['Number_of_Shootings'] / (pop_grouped['Population'] / 100000) / 9).round(2)

In [ ]:
# Filter the dataset to only include cities with a population > 100k. This prevents places with small populations from having
# staggeringly high numbers not because shootings are regular, but because their population is small enough adjust to per capita
# makes it look inflated.

pop_sample = pop_grouped[pop_grouped['Population'] > 99999]

# Print the DataFrame sorted to highest per capita shootings

pop_sample.sort_values('Annual_Shootings_per_100k', ascending=False)

In [ ]:
# Save this Dataframe as .csv to our hard drive

pop_sample.to_csv('Annual_Shootings_per_100k.csv', index=False)

In [ ]:
pop_sample.sort_values('Annual_Shootings_per_100k', ascending=False).head(25)