In [1]:
# Load in necessary packages

import pandas as pd

In [2]:
# Read in the data from the .csv file

# This dataset covers US Police Shootings from 2015-2024. More information can be found at 
# https://www.kaggle.com/datasets/aquibahmad7/police-shootings-in-the-united-states-2015-2024?resource=download

data = pd.read_csv('C:/Users/bourb/OneDrive/Datasets/2024-07-23-washington-post-police-shootings-export.csv')

In [3]:
# Inspect the data to confirm successful load

data.head(3)

,date,name,age,gender,armed,race,city,state,flee,body_camera,signs_of_mental_illness,police_departments_involved
0,2015-01-02,Lewis Lee Lembke,47.0,male,gun,White,Aloha,OR,not,False,False,"Washington County Sheriff's Office, OR"
1,2015-01-02,Tim Elliot,53.0,male,gun,Asian,Shelton,WA,not,False,True,"Mason County Sheriff's Office, WA"
2,2015-01-03,John Paul Quintero,23.0,male,unarmed,Hispanic,Wichita,KS,not,False,False,"Wichita Police Department, KS"

In [4]:
data.columns

Index(['date', 'name', 'age', 'gender', 'armed', 'race', 'city', 'state',
       'flee', 'body_camera', 'signs_of_mental_illness',
       'police_departments_involved'],
      dtype='object')

In [5]:
data['date'] = pd.to_datetime(data['date'])

data = data[data['date'] < '2024-01-01']

In [6]:
len(data)

9252

In [7]:
# Title case all column names

data.columns = data.columns.str.title()

In [8]:
# Title case the below columns

data['Gender'] = data['Gender'].str.title()

data['Armed'] = data['Armed'].str.title()

data['Flee'] = data['Flee'].str.title()

In [9]:
# Check datatypes, row count, and # of non-null values in each column

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9252 entries, 0 to 9251
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         9252 non-null   datetime64[ns]
 1   Name                         8965 non-null   object
 2   Age                          8912 non-null   float64
 3   Gender                       9231 non-null   object
 4   Armed                        9044 non-null   object
 5   Race                         9252 non-null   object
 6   City                         9182 non-null   object
 7   State                        9252 non-null   object
 8   Flee                         7999 non-null   object
 9   Body_Camera                  9252 non-null   bool
 10  Signs_Of_Mental_Illness      9252 non-null   bool
 11  Police_Departments_Involved  9252 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(1), object(8)
memory usage: 813.2+ KB

In [10]:
# Inspect the rows with a null value in the name column 

data[data['Name'].isna()]

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved
930,2015-12-10,NaN,NaN,Male,Gun,Unknown,Hemet,CA,Not,False,False,"Hemet Police Department, CA"
1419,2016-06-09,NaN,NaN,Male,Blunt_Object,Unknown,Somerton,AZ,Not,False,False,"U.S. Border Patrol, AZ"
1646,2016-09-01,NaN,NaN,Male,Blunt_Object,Hispanic,Huntington Park,CA,Not,False,False,"Huntington Park Police Department, CA"
1921,2016-12-20,NaN,NaN,Male,Knife,Unknown,Brawley,CA,Not,False,True,"Brawley Police Department, CA"
2075,2017-02-09,NaN,NaN,Male,Undetermined,Unknown,Crownpoint,NM,NaN,False,False,"Navajo Nation Police Department, NM"
...,...,...,...,...,...,...,...,...,...,...,...,...
9197,2023-12-16,NaN,NaN,Male,Gun,Unknown,NaN,VA,NaN,False,False,"Stafford County Sheriff's Department, VA"
9201,2023-12-17,NaN,NaN,Male,Gun,White,Hosford,FL,NaN,False,False,"Liberty County Sheriff's Office, FL"
9210,2023-12-20,NaN,NaN,Male,Vehicle,Unknown,Detroit,MI,Car,False,False,"Detroit Police Department, MI"
9230,2023-12-26,NaN,37.0,Male,Gun,Unknown,Garden City,MI,Not,False,False,"Garden City Police Department, MI"
9238,2023-12-27,NaN,NaN,Male,Knife,Unknown,Weston,WI,Not,True,False,"Everest Metropolitan Police Department, WI"

In [11]:
# Fill the nulls in the name column with the value 'Unknown'

data['Name'] = data['Name'].fillna('Unknown')

In [12]:
# Inspect the values that are now 'Unknown'...this is done mostly to confirm the row count matches that of the above DataFrame
# where these values were previously null. It is 337 in both dfs so it stands to reason that all nulls were replaced

data[data['Name'] == 'Unknown']

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved
930,2015-12-10,Unknown,NaN,Male,Gun,Unknown,Hemet,CA,Not,False,False,"Hemet Police Department, CA"
1419,2016-06-09,Unknown,NaN,Male,Blunt_Object,Unknown,Somerton,AZ,Not,False,False,"U.S. Border Patrol, AZ"
1646,2016-09-01,Unknown,NaN,Male,Blunt_Object,Hispanic,Huntington Park,CA,Not,False,False,"Huntington Park Police Department, CA"
1921,2016-12-20,Unknown,NaN,Male,Knife,Unknown,Brawley,CA,Not,False,True,"Brawley Police Department, CA"
2075,2017-02-09,Unknown,NaN,Male,Undetermined,Unknown,Crownpoint,NM,NaN,False,False,"Navajo Nation Police Department, NM"
...,...,...,...,...,...,...,...,...,...,...,...,...
9197,2023-12-16,Unknown,NaN,Male,Gun,Unknown,NaN,VA,NaN,False,False,"Stafford County Sheriff's Department, VA"
9201,2023-12-17,Unknown,NaN,Male,Gun,White,Hosford,FL,NaN,False,False,"Liberty County Sheriff's Office, FL"
9210,2023-12-20,Unknown,NaN,Male,Vehicle,Unknown,Detroit,MI,Car,False,False,"Detroit Police Department, MI"
9230,2023-12-26,Unknown,37.0,Male,Gun,Unknown,Garden City,MI,Not,False,False,"Garden City Police Department, MI"
9238,2023-12-27,Unknown,NaN,Male,Knife,Unknown,Weston,WI,Not,True,False,"Everest Metropolitan Police Department, WI"

In [13]:
# Display a slice of the DataFrame where all Age values are NULL

data[data['Age'].isna()]

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved
124,2015-02-20,Alejandro Salazar,NaN,Male,Gun,Hispanic,Houston,TX,Car,False,False,"U.S. Marshals Service, TX"
930,2015-12-10,Unknown,NaN,Male,Gun,Unknown,Hemet,CA,Not,False,False,"Hemet Police Department, CA"
968,2015-12-21,Michael Noel,NaN,Male,Unarmed,Black,Breaux Bridge,LA,Not,False,True,"St. Martin Parish Sheriff's Department, LA"
1338,2016-05-06,Ronald D. Williams Jr.,NaN,Male,Gun,Black,Weirton,WV,Not,False,True,"Weirton Police Department, WV"
1350,2016-05-11,Steve Godfrey,NaN,Male,Gun,White,Byng,OK,Car,False,True,"Pontotoc County Sheriff's Office, OK"
...,...,...,...,...,...,...,...,...,...,...,...,...
9201,2023-12-17,Unknown,NaN,Male,Gun,White,Hosford,FL,NaN,False,False,"Liberty County Sheriff's Office, FL"
9210,2023-12-20,Unknown,NaN,Male,Vehicle,Unknown,Detroit,MI,Car,False,False,"Detroit Police Department, MI"
9214,2023-12-21,Vaughn Malloy,NaN,Male,Undetermined,Black,Stonington,CT,NaN,False,False,"Connecticut State Police, CT"
9238,2023-12-27,Unknown,NaN,Male,Knife,Unknown,Weston,WI,Not,True,False,"Everest Metropolitan Police Department, WI"
9251,2023-12-31,Talmadge Bryant,NaN,Male,Gun,Unknown,Cottondale,FL,Not,False,False,"Jackson County Sheriff's Department, FL"

In [14]:
# I've decided to also replace gender column nulls with 'unknown' however this time with a lowercase u to match the all lower
# case convention already established in the populated values in the column

data['Gender'] = data['Gender'].fillna('Unknown')

In [15]:
# Inspect all unique values in the armed column to decide how to deal with nulls

data['Armed'].unique()

array(['Gun', 'Unarmed', 'Other', 'Replica', 'Knife', 'Blunt_Object', nan,
       'Vehicle', 'Undetermined', 'Other,Gun', 'Unknown',
       'Blunt_Object,Blunt_Object', 'Gun,Knife', 'Knife,Blunt_Object',
       'Vehicle,Gun', 'Gun,Vehicle', 'Replica,Vehicle',
       'Blunt_Object,Knife', 'Knife,Vehicle', 'Vehicle,Knife,Other',
       'Knife,Knife', 'Replica,Knife', 'Other,Blunt_Object,Knife',
       'Other,Knife'], dtype=object)

In [16]:
# I've decided to fill the nulls with the value 'undetermined'

data['Armed'] = data['Armed'].fillna('Undetermined')

In [17]:
# I also want to coerce the value 'unknown' to 'undetermined' and not deal with two different values for one phenomenon

data['Armed'] = data['Armed'].replace({'Unknown': 'Undetermined'})

In [18]:
# Inspect to confirm both NaN and 'unknown' are no longer present

data['Armed'].unique()

array(['Gun', 'Unarmed', 'Other', 'Replica', 'Knife', 'Blunt_Object',
       'Undetermined', 'Vehicle', 'Other,Gun',
       'Blunt_Object,Blunt_Object', 'Gun,Knife', 'Knife,Blunt_Object',
       'Vehicle,Gun', 'Gun,Vehicle', 'Replica,Vehicle',
       'Blunt_Object,Knife', 'Knife,Vehicle', 'Vehicle,Knife,Other',
       'Knife,Knife', 'Replica,Knife', 'Other,Blunt_Object,Knife',
       'Other,Knife'], dtype=object)

In [19]:
# Iterate through the values in the armed column looking for values with a ','. If ',' is found then replace the value with
# 'multiple weapons'

for value in data['Armed']:
    if ',' in value:
        data ['Armed'] = data['Armed'].replace(value, 'Multiple Weapons')

In [20]:
# Confirm this cleanup with successful

data['Armed'].unique()

array(['Gun', 'Unarmed', 'Other', 'Replica', 'Knife', 'Blunt_Object',
       'Undetermined', 'Vehicle', 'Multiple Weapons'], dtype=object)

In [21]:
# Count the values in the armed column to assess the impact of creating the multiple weapons column. Since this substition
# represents < 1.5%  of values I find this to be an acceptable strategy. Though for the purposes of my testing I am accepting
# 'race' as the column name, if I were to present this data I would coerce this column name to something like 'count.'

count_by_armed = data[['Armed', 'Race']].groupby('Armed').count().sort_values(by='Race', ascending=False)

count_by_armed = pd.DataFrame(count_by_armed)

count_by_armed.columns = ['Count']

count_by_armed

                  Count
Armed
Gun                5381
Knife              1554
Undetermined        721
Unarmed             537
Vehicle             328
Replica             303
Blunt_Object        223
Multiple Weapons    114
Other                91

In [22]:
# I have decided to fill null city names to the value 'Unknown' 

data['City'] = data['City'].fillna('Unknown')

In [23]:
# Create a dictionary of state abbreviation to name mappings

state_names = {'AL':'Alabama', 'AK':'Alaska', 'AZ':'Arizona', 'AR':'Arkansas', 'CA':'California', 'CO':'Colorado', 
               'CT':'Connecticut', 'DE':'Delaware', 'FL':'Florida', 'GA':'Georgia', 'HA':'Hawaii', 'ID':'Idaho',
               'IL':'Illinois', 'IN':'Indiana', 'IA':'Iowa', 'KS':'Kansas', 'KY':'Kentucky', 'LA':'Louisiana',
               'ME':'Maine', 'MD':'Maryland', 'MA':'Massachusetts', 'MI':'Michigan', 'MN':'Minnesota', 'MS':'Mississippi',
               'MO':'Missouri', 'MT':'Montana', 'NE':'Nebraska', 'NV':'Nevada', 'NH':'New Hampshire', 'NJ':'New Jersey',
               'NM':'New Mexico', 'NY':'New York', 'NC':'North Carolina', 'ND':'North Dakota', 'OH':'Ohio', 'OK':'Oklahoma',
               'OR':'Oregon', 'PA':'Pennsylvania', 'RI':'Rhode Island', 'SC':'South Carolina', 'SD':'South Dakota',
               'TN':'Tennessee', 'TX':'Texas', 'UT':'Utah', 'VT':'Vermont', 'VA':'Virginia', 'WA':'Washington', 
               'WV':'West Virginia', 'WI':'Wisconsin', 'WY':'Wyoming'}

In [24]:
# Map the state abbreviations to their names. This is done so that we can join on this column later and it will 1:1 match
# the DataFrame we will be joining to

data['State'] = data['State'].map(state_names)

In [25]:
# Coerce the state name 'DC' if the city name = 'Washington'

data['State'] = data.apply(lambda row: 'DC' if 'Washington' in row['City'] else row['State'], axis=1)

In [26]:
# Find the value of all cities where the state is NULL

data[data['State'].isna()]['City'].unique()

array(['Honolulu', 'Maui', 'Hilo', 'Keaau', 'Kahuku', 'Aiea', 'Papaaloa',
       'North Shore', 'Puna', 'Nanakuli', 'Pahoa', 'Wailuku', 'Kalihi',
       'Kaneohe', 'Kakaako', 'Kahului', 'Kailua-Kona', 'Molokai',
       'Pearl City'], dtype=object)

In [27]:
# Fill the rest of the State column with Hawaii, after searing unique values in the city column for NULL values in the state
# column I have confirmed all cities remaining with a NULL state are in Hawaii

data['State'] = data['State'].fillna('Hawaii')

In [28]:
# Create a list of states for each region and save them into the variable associated with the name of the region

south = ['Texas', 'Oklahoma', 'Arkansas', 'Louisiana', 'Mississippi', 'DC', 'Alabama', 'Georgia', 'Florida', 'South Carolina', 'North Carolina', 'Tennessee', 'Kentucky', 'Virginia', 'West Virginia', 'Delaware', 'Maryland']

midwest = ['Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin', 'Iowa', 'Kansas', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'South Dakota']

northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'Rhode Island', 'Vermont', 'New Jersey', 'New York', 'Pennsylvania']

west = ['Arizona', 'Colorado', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah', 'Wyoming', 'Alaska', 'California', 'Hawaii', 'Oregon', 'Washington']

In [29]:
# Create a function to check if a state is in a list of states associated with a region

def states_to_regions(df):
    if df['State'] in northeast:
        return 'Northeast'
    elif df['State'] in south:
        return 'South'
    elif df['State'] in midwest:
        return 'Midwest'
    elif df['State'] in west:
        return 'West'

In [30]:
# Create a new column in the Dataframe using region values returned from the function

data['Region'] = data.apply(lambda row: states_to_regions(row), axis=1)

In [31]:
# Inspect unique values in the 'flee' column

data['Flee'].unique()

array(['Not', 'Car', 'Foot', 'Other', nan], dtype=object)

In [32]:
# I have decided to fill nulls with the value 'unknown'

data['Flee'] = data['Flee'].fillna('Unknown')

In [33]:
# Since there is only one null in the 'police_departments_involved' column I wanted to find and inspect it to assess the
# irregularity.

data[data['Police_Departments_Involved'].isna()]

Empty DataFrame
Columns: [Date, Name, Age, Gender, Armed, Race, City, State, Flee, Body_Camera, Signs_Of_Mental_Illness, Police_Departments_Involved, Region]
Index: []

In [34]:
# Check to see if there is another row for this city (The state combination is also relevant here.) Since there is another
# record for Lewistown, PA I will coerce the unknown value to match this other record

data[data['City'] == 'Lewistown']

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved,Region
2278,2017-04-26,Charles Bossinger,53.0,Male,Gun,White,Lewistown,Pennsylvania,Not,False,True,"Lewistown Borough Police Department, PA",Northeast
5139,2020-03-15,Douglas J. Foster,47.0,Male,Gun,White,Lewistown,Montana,Car,False,False,"Dillon Police Department, MT",West
5781,2020-11-04,Justin Hammack,26.0,Male,Replica,White,Lewistown,Illinois,Unknown,False,True,"Fulton County Sheriff's Department, IL;Lewisto...",Midwest

In [35]:
# I decided to coerce to the department with the matching city, state combination.

data['Police_Departments_Involved'] = data['Police_Departments_Involved'].fillna('Lewistown Borough Police Department, PA')

In [36]:
# Confirm this worked as expected replacing the null value with the above identified department 

data[data['City'] == 'Lewistown']

,Date,Name,Age,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved,Region
2278,2017-04-26,Charles Bossinger,53.0,Male,Gun,White,Lewistown,Pennsylvania,Not,False,True,"Lewistown Borough Police Department, PA",Northeast
5139,2020-03-15,Douglas J. Foster,47.0,Male,Gun,White,Lewistown,Montana,Car,False,False,"Dillon Police Department, MT",West
5781,2020-11-04,Justin Hammack,26.0,Male,Replica,White,Lewistown,Illinois,Unknown,False,True,"Fulton County Sheriff's Department, IL;Lewisto...",Midwest

In [37]:
# At this point I just wanted to look at the top 10 departments with known shootings 

data[['Police_Departments_Involved', 'Race']].groupby('Police_Departments_Involved').count().sort_values(by='Race', ascending=False).head(10)

                                              Race
Police_Departments_Involved
Los Angeles Police Department, CA              132
Phoenix Police Department, AZ                  111
Los Angeles County Sheriff's Department, CA    103
Houston Police Department, TX                   73
New York Police Department, NY                  69
San Antonio Police Department, TX               68
Las Vegas Metropolitan Police Department, NV    66
Pennsylvania State Police, PA                   54
Chicago Police Department, IL                   50
Jacksonville Sheriff's Office, FL               50

In [38]:
# Inspect to assess our cleanup process 

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9252 entries, 0 to 9251
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         9252 non-null   datetime64[ns]
 1   Name                         9252 non-null   object
 2   Age                          8912 non-null   float64
 3   Gender                       9252 non-null   object
 4   Armed                        9252 non-null   object
 5   Race                         9252 non-null   object
 6   City                         9252 non-null   object
 7   State                        9252 non-null   object
 8   Flee                         9252 non-null   object
 9   Body_Camera                  9252 non-null   bool
 10  Signs_Of_Mental_Illness      9252 non-null   bool
 11  Police_Departments_Involved  9252 non-null   object
 12  Region                       9252 non-null   object
dtypes: bool(2), datetime64[ns](1), float64(1), object(9)
memory usage: 885.4+ KB

In [39]:
# Inspect the unique values in the 'race' column 

data['Race'].unique()

array(['White', 'Asian', 'Hispanic', 'Black', 'Other', 'Unknown',
       'Native American', 'White,Black,Native American',
       'Native American,Hispanic', 'White,Hispanic', 'Black,Hispanic',
       'White,Black'], dtype=object)

In [40]:
# I've decided to coerce values with a comma to be represented as 'Multiple Races' as opposed to the more unsightly values
# that are inherent to the column 

for value in data['Race']:
    if ',' in value:
        data ['Race'] = data['Race'].replace(value, 'Multiple Races')

In [41]:
# Confirm that this worked as expected 

data['Race'].unique()

array(['White', 'Asian', 'Hispanic', 'Black', 'Other', 'Unknown',
       'Native American', 'Multiple Races'], dtype=object)

In [42]:
# Confirm that this boolean column only contains 'True' and 'False'

data['Body_Camera'].unique()

array([False,  True])

In [43]:
# Confirm that this boolean column only contains 'True' and 'False'

data['Signs_Of_Mental_Illness'].unique()

array([False,  True])

In [44]:
# The nulls in our age column present a bit of a different challenge. Since the datatype is currently 'float64' then unknown
# would be an inappropriate value. One option is to just drop these columns as incomplete data that could throw our analysis.
# Another is to coerce to a mean or median value. In this instance I've decided to just coerce them to 0. This is a risky choice
# and definitely should be footnoted in any visualizations or reports to keep from confusing stakeholders of the analysis. 

data['Age'] = data['Age'].fillna(0.0)

In [45]:
# I want to convert to integer from float to avoid unsightly decimal places as all decimals are .0 thus mathematically
# meaningless

data['Age'] = data['Age'].astype(int)

In [46]:
# I wanted to check the top 5 ages of the victims of police shootings, since the #1 value is our coerced 0 dropping this data
# could have a significant impact on the analysis. Thus we were right to make a complex decision to handle these rows in some
# way. 

data[['Age', 'Race']].groupby('Age').count().sort_values(by='Race', ascending=False).head(15)

     Race
Age
0     340
34    313
33    309
31    305
32    301
30    295
27    294
35    282
29    280
28    280
25    269
37    265
36    263
26    254
39    244

In [47]:
# Create a 'year' column pulling the year from the 'date' column

data['Year'] = pd.DatetimeIndex(data['Date']).year

In [48]:
# Create a 'month' column pulling the month from the 'date' column

data['Month'] = pd.DatetimeIndex(data['Date']).month_name()

In [49]:
# Check the month column to ensure all data is valid aka a number between 1 and 12

data['Month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [50]:
# Convert the Date column to a Datetime object for the purposes of determing a quarter in which each offense occurred

data['Date'] = pd.to_datetime(data['Date'])

data['Quarter'] = data['Date'].dt.quarter

In [51]:
# Create age bins so we can assess the age of shooting victims within an age range

data['Age_Bins'] = pd.cut(x=data['Age'], bins=[-1,1,18,29,40,50,65,80,100], labels=["'0'", "'1-18'", "'19-29'", "'30-40'", "'41-50'", "'51-65'", "'66-80'", "'81-100'"])

In [52]:
# Convert the Age_Bins column to strings. This was done to prevent a behavior when opening the resultant .csv in Excel where
# Excel believes 1-18 to be January 18th

data['Age_Bins'] = data['Age_Bins'].astype('str')

In [53]:
# Inspect the age bins for the purposes of data validation

data[['Age', 'Age_Bins']].groupby('Age_Bins').count()

           Age
Age_Bins
'0'        340
'1-18'     303
'19-29'   2450
'30-40'   3025
'41-50'   1645
'51-65'   1234
'66-80'    226
'81-100'    29

In [54]:
# Print column names 

data.columns

Index(['Date', 'Name', 'Age', 'Gender', 'Armed', 'Race', 'City', 'State',
       'Flee', 'Body_Camera', 'Signs_Of_Mental_Illness',
       'Police_Departments_Involved', 'Region', 'Year', 'Month', 'Quarter',
       'Age_Bins'],
      dtype='object')

In [55]:
# Rearrange the columns into a more logical order 

data = data[['Date', 'Month', 'Quarter', 'Year', 'Name', 'Age', 'Age_Bins', 'Gender', 'Armed', 'Race', 'City', 'State', 'Flee', 'Body_Camera', 
      'Signs_Of_Mental_Illness', 'Police_Departments_Involved', 'Region']]

In [56]:
# Inspect the DataFrame to give it a good last look over

data.head(3)

,Date,Month,Quarter,Year,Name,Age,Age_Bins,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved,Region
0,2015-01-02,January,1,2015,Lewis Lee Lembke,47,'41-50',Male,Gun,White,Aloha,Oregon,Not,False,False,"Washington County Sheriff's Office, OR",West
1,2015-01-02,January,1,2015,Tim Elliot,53,'51-65',Male,Gun,Asian,Shelton,Washington,Not,False,True,"Mason County Sheriff's Office, WA",West
2,2015-01-03,January,1,2015,John Paul Quintero,23,'19-29',Male,Unarmed,Hispanic,Wichita,Kansas,Not,False,False,"Wichita Police Department, KS",Midwest

In [57]:
# Read in 2020 US Census data for the purposes of adding a column to show the population of the city in which an offense occurred

pop = pd.read_csv('C:/Users/bourb/Data_Projects/US_Police_Shooting_2015-2024/US_Population_By_City_2020.csv', low_memory=False)

pop.head(3)

,Label (Grouping),United States,"Abanda CDP, Alabama","Abbeville city, Alabama","Adamsville city, Alabama","Addison town, Alabama","Akron town, Alabama","Alabaster city, Alabama","Albertville city, Alabama","Alexander City city, Alabama",...,"Villa Hugo II comunidad, Puerto Rico","Villalba zona urbana, Puerto Rico","Villa Quintero comunidad, Puerto Rico","Villas del Sol comunidad, Puerto Rico","Villa Sin Miedo comunidad, Puerto Rico","Voladoras comunidad, Puerto Rico","Yabucoa zona urbana, Puerto Rico","Yauco zona urbana, Puerto Rico","Yaurel comunidad, Puerto Rico","Yeguada comunidad, Puerto Rico"
0,Total:,"331,449,281",133,"2,358","4,366",659,225,"33,284","22,386","14,843",...,"1,355","3,215",342,145,117,670,"5,196","13,569",769,"1,418"
1,Population of one race:,"297,600,338",132,"2,275","4,221",643,220,"30,751","20,502","14,311",...,678,"1,663",225,76,64,290,"3,052","7,455",598,871
2,White alone,"204,277,273",95,"1,165","1,741",624,19,"22,323","13,830","8,724",...,98,618,37,6,8,136,924,"2,887",18,229

In [58]:
# Transpose our population dataframe so that the cities will be rows

pop = pd.DataFrame(pop.T)

In [59]:
# This is done to coerce the values in row 1 (index 0) to become the new column labels, then to drop them from the 1st row. We
# Then write over our DataFrame keeping only the total population and removing the racial counts

pop.columns = pop.iloc[0]

pop.drop(pop.index[0], inplace=True)

pop.index = pop.index.str.title()

pop = pd.DataFrame(pop['Total:'])

In [60]:
# Create a DataFrame of our data grouped by City and State with a count of the number of police shooting within that city

grouped = pd.DataFrame(data[['Date', 'City', 'State']].groupby(['City', 'State']).count())

In [61]:
# Display the DataFrame as a sanity check

grouped

                           Date
City       State
Abbeville  Alabama            1
           Louisiana          1
           South Carolina     1
Aberdeen   North Carolina     1
           Washington         1
...                         ...
Yuma       Arizona            5
Zanesville Ohio               1
Zebulon    North Carolina     1
Zion       Illinois           3
Еasley     South Carolina     1

[4090 rows x 1 columns]

In [62]:
# Create a new blank DataFrame which we will append rows when we find a match of city and state. We are using .startswith and 
# .endswith to allow for mismatches in between which were observed and deemed to be problematic

temp = pd.DataFrame()

for i, j in grouped.index:
    temp_pop = pop[pop.index.str.startswith(i) & pop.index.str.endswith(j)]
    temp = pd.concat([temp, temp_pop])

In [63]:
# Remove common problematic values that were causing mismatches and resulting in misleadingly low outcomes after the join

temp.index = temp.index.str.replace(' City', '')

temp.index = temp.index.str.replace(' Cdp', '')

temp.index = temp.index.str.replace(' Town', '')

In [64]:
# Title case the index of City/State combos to further aid the matching process

temp.index = temp.index.str.title()

In [65]:
# Back to our original DataFrame we create a column of City/State combos to match our population data removing ' City' which has
# found to prevent a large number of matches

data['City_State'] = data['City'] + ', ' + data['State'].replace(' City', '')

In [66]:
# Join our shooting and population DataFrames to create a column in the master showing the population. There is a match ~ 81%
# of the time. The rest of the time we will have Nan or NULL values in the population column

pop_data = pd.merge(data, temp, left_on='City_State', right_on=temp.index, how='left')

In [67]:
# Rename the population column which had carried 'Total:' over from the population DataFrame for the purposes of human
# readability and interpretability when we will potentially use it for visualization

pop_data.rename(columns={'Total:':'Population'}, inplace=True)

In [96]:
# Convert the population column to an integer datatype so we can calculate an annual per capita

pop_data['Population'] = pop_data['Population'].str.replace(',', '').astype('Int64')

In [97]:
pop_data.head(3)

,Date,Month,Quarter,Year,Name,Age,Age_Bins,Gender,Armed,Race,City,State,Flee,Body_Camera,Signs_Of_Mental_Illness,Police_Departments_Involved,Region,City_State,Population
0,2015-01-02,January,1,2015,Lewis Lee Lembke,47,'41-50',Male,Gun,White,Aloha,Oregon,Not,False,False,"Washington County Sheriff's Office, OR",West,"Aloha, Oregon",53828
1,2015-01-02,January,1,2015,Tim Elliot,53,'51-65',Male,Gun,Asian,Shelton,Washington,Not,False,True,"Mason County Sheriff's Office, WA",West,"Shelton, Washington",10371
2,2015-01-03,January,1,2015,John Paul Quintero,23,'19-29',Male,Unarmed,Hispanic,Wichita,Kansas,Not,False,False,"Wichita Police Department, KS",Midwest,"Wichita, Kansas",397532

In [69]:
# Read this data out to a .csv file on our hard drive

pop_data.to_csv('c:/users/bourb/data_projects/US_Police_Shooting_2015-2024/cleaned_data.csv', index=False)

In [98]:
# Create a grouped datasetconverted to a DataFrame showing the # of shootings by city, state, and population

pop_grouped = pd.DataFrame(pop_data[['City', 'State', 'Gender', 'Population']].groupby(['City', 'State', 'Population']).count())

In [99]:
# Reset the index so that city, state and population can be treated as regular columns

pop_grouped.reset_index(inplace=True)

In [100]:
# Rename the column that was counted to Number_of_Shootings

pop_grouped.columns = ['City', 'State', 'Population', 'Number_of_Shootings']

In [101]:
# Rearrange the columns 

pop_grouped = pop_grouped.reindex(columns=['City', 'State', 'Number_of_Shootings', 'Population'])

In [102]:
# Engineer the annual per capita column

pop_grouped['Annual_Shootings_per_100k'] = (pop_grouped['Number_of_Shootings'] / (pop_grouped['Population'] / 100000) / 9).round(2)

In [103]:
# Filter the dataset to only include cities with a population > 100k. This prevents places with small populations from having
# staggeringly high numbers not because shootings are regular, but because their population is small enough adjust to per capita
# makes it look inflated.

pop_sample = pop_grouped[pop_grouped['Population'] > 99999]

# Print the DataFrame sorted to highest per capita shootings

pop_sample.sort_values('Annual_Shootings_per_100k', ascending=False)

,City,State,Number_of_Shootings,Population,Annual_Shootings_per_100k
1903,Pueblo,Colorado,25,111876,2.48
1272,Las Cruces,New Mexico,19,111385,1.9
1366,Louisville,Kentucky,34,246161,1.53
208,Billings,Montana,16,117116,1.52
2053,San Bernardino,California,28,222101,1.4
...,...,...,...,...,...
367,Cary,North Carolina,1,174721,0.06
901,Glendale,California,1,196543,0.06
1622,New York,New York,48,8804190,0.06
2569,Worcester,Massachusetts,1,206518,0.05
1121,Irvine,California,1,307670,0.04

In [77]:
# Save this Dataframe as .csv to our hard drive

pop_sample.to_csv('c:/users/bourb/data_projects/US_Police_Shooting_2015-2024/Annual_Shootings_per_100k.csv', index=False)

In [78]:
pop_sample.sort_values('Annual_Shootings_per_100k', ascending=False).head(25)

,City,State,Number_of_Shootings,Population,Annual_Shootings_per_100k
2116,Pueblo,Colorado,25,111876,2.48
1409,Las Cruces,New Mexico,19,111385,1.9
1514,Louisville,Kentucky,34,246161,1.53
230,Billings,Montana,16,117116,1.52
2281,San Bernardino,California,28,222101,1.4
2488,St. Louis,Missouri,38,301578,1.4
35,Albuquerque,New Mexico,68,564559,1.34
1410,Las Vegas,Nevada,77,641903,1.33
842,Evansville,Indiana,14,117298,1.33
2789,Westminster,Colorado,12,116317,1.15
2459,Spokane,Washington,23,228989,1.12
2470,Springfield,Missouri,17,169176,1.12
1043,Greeley,Colorado,11,108795,1.12
1383,Lakeland,Florida,11,112641,1.09
1913,Orlando,Florida,30,307573,1.08
1882,Odessa,Texas,11,114428,1.07
1389,Lakewood,Colorado,15,155984,1.07
2632,Tucson,Arizona,52,542629,1.06
147,Bakersfield,California,38,403455,1.05
58,Amarillo,Texas,19,200393,1.05
1636,Miami,Florida,41,442241,1.03
2637,Tulsa,Oklahoma,38,413066,1.02
2447,Sparks,Nevada,10,108445,1.02
879,Federal Way,Washington,9,101030,0.99
2326,Savannah,Georgia,12,147780,0.9

In [110]:
# Create a grouped dataset converted to a DataFrame showing the # of shootings by region, and population

region_grouped = pd.DataFrame(pop_data[['Region', 'Gender']].groupby(['Region']).count())

In [111]:
# Reset the index so that region and population can be treated as regular columns

region_grouped.reset_index(inplace=True)

In [113]:
# Rename the column that was counted to Number_of_Shootings

region_grouped.columns = ['Region', 'Number_of_Shootings']

In [116]:
region_grouped.sort_values('Number_of_Shootings', ascending=False)

      Region  Number_of_Shootings
2      South                 3978
3       West                 3192
0    Midwest                 1511
1  Northeast                  644